<form action="<%= action_type == :login ? session_url : users_url %>" method="post">


  <input type="text" name="user[user_name]" value="">Username
  <br>
  <input type="text" name="user[password]" value="">Password
  <br>
  <input type="submit" value="<%= action_type == :login ? "Log In" : "Sign Up"%>">

</form>
